<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="/static/css/nav.css">
    <link rel="stylesheet" href="/static/css/error.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="/"><span>Desa</span>Peduli</a>
    </nav>
    <section class="c-section">
        <div class="content">
            <div class="box">
                <h1>Halaman Tidak Ditemukan</h1>
                <a href="/">Kembali Kehalaman Utama</a>
            </div>
        </div>
    </section>
</body>
</html>