{% if laporan %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="/static/css/navadmin.css">
    <link rel="stylesheet" href="/static/css/tanggapan.css">
    <script src="/static/js/tanggapan.js"></script>
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="/admin"><span>Desa</span>Peduli</a>
        <div class="optnav">
            <a href="/admin">Home</a>
            <a href="/profileadmin">Profile</a>
        </div>
    </nav>
    <section class="c-section">
        <div class="card">
            <div class="card-core">
                <div class="card-top">
                    <p>{{laporan["id_pengaduan"]}}</p>
                    <p>{{laporan["tgl_pengaduan"]}}</p>
                </div>
                <div class="card-mid">
                    <p>Isi Laporan : {{laporan["isi_laporan"]}}</p>
                    <p>Status :{{laporan["status"]}}</p>
                </div>
                <div class="card-image">
                    <img src="{{laporan["foto"]}}">
                </div>
                {% if tanggapan %}
                <div class="card-tanggapan">
                    <p>Isi Tanggapan : {{tanggapan["tanggapan"]}}</p>
                </div>
                {% else %}
                <div class="card-send">
                    <textarea id="input" placeholder="Masukan Tanggapan anda di dalam kolom yang sudah diberikan"></textarea>
                    <button value="{{laporan['id_pengaduan']}}" onclick="send(this.value)">Kirim</button>
                </div>
                {% endif %}
            </div>
            
        </div>
        <div class="footer">
            <div class="footer-l">
                <a href="/">Home</a>
                <a href="/profile">Profile</a>
            </div>
            <div class="footer-r">
                <a href="/logout">Logout</a>
            </div>
        </div>
    </section>
</body>
</html>
{% else %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Laporan tidak di temukan
</body>
</html>
{% endif %}

